<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "https://code.jquery.com/jquery-2.1.0.min.js","data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/navbar' %>

  <div class="container">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
      <hr />
      <div id="footer" class="footer">
        <div class="media">
          <a class="pull-left" href="#">
            <!-- <img class="media-object" src="" alt="..."> -->
            <%= image_tag 'logotipo_um.jpg', class: 'media-object' %></a>
            <div class="media-body">
              <h5 class="media-heading">Universidad de Mendoza | Facultad de Ingeniería</h5>
              <b>Cátedra de Comunicaciones de Redes Seguras</b><br>
              <i>Implementación de Autenticación de Doble Factor</i><br>
              Martín González. <i>leg. 5256</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
    
  </body>
  </html>
